body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  color: white;
}

.header p {
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 5%;
  gap: 20px;
}

.about {
  width: 50%;
  flex: none;
  color: white;
  padding: 75px 0;
}

.about-image {
  display: flex;
  flex: none;
  height: 200px;
  width: 400px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 25px 0 0 0;
}

.about p {
  font-size: 18px;
}

.about button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  padding: 8px 32px;
  border: none;
  font-weight: 700;
}

.information {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  padding: 20px 5% 75px;
}

.deck {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: flex-start;
  gap: 50px;
}

.card {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.card-image {
  border: 3px solid #3882F6;
  border-radius: 10px;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.card p {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin: 0 auto;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px 100px;
}

.quote-text {
  font-size: 24px;
  font-weight: 300;
}

.signature {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}
