body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  color: white;
}

.header p {
  font-size: 24px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.top-content {
  display: flex;
}

ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}